<main class="main">
  <div class="content">
    <h1>{{ title() }}</h1>
    <div class="form-container flex gap-2 flex-col md:flex-row">
      <label>
        <input
          type="radio"
          name="source"
          value="text"
          [(ngModel)]="type"
          (click)="onResetDevice()"
        />
        Text
      </label>

      <label>
        <input
          type="radio"
          name="source"
          value="document"
          [(ngModel)]="type"
          (click)="onResetDevice()"
        />
        Document
      </label>

      <label>
        <input
          type="radio"
          name="source"
          value="speech"
          [(ngModel)]="type"
          (click)="onResetTranscript()"
        />
        Speech to text
      </label>

      <label>
        <input
          type="radio"
          name="source"
          value="record"
          [(ngModel)]="type"
          (click)="onResetTranscript()"
        />
        Record
      </label>

      <label>
        <input
          type="radio"
          name="source"
          value="detection"
          [(ngModel)]="type"
        />
        Face Detection
      </label>
    </div>

    @if (type === 'text') {
      <div>
        <textarea
        class="w-full rounded-2xl p-2 outline-0 border border-gray-500"
        rows="5"
        [(ngModel)]="textInput"
        placeholder="Masukkan teks...">
        </textarea>
      </div>
    } @else if (type === 'document') {
      <div class="file-wrapper">
        <label class="file-btn">
          Choose File
          <input
            type="file"
            (change)="onFileSelected($event)"
            hidden
          />
        </label>

        <span class="file-name">
          {{ selectedFileName || 'No file chosen' }}
        </span>
      </div>
    } @else if (type === 'speech') {
      <textarea
        class="w-full rounded-2xl p-2 outline-0 border border-gray-500"
        rows="6"
        [value]="transcript()"
        readonly
      ></textarea>
    } @else if (type === 'record') {
      <textarea
        class="w-full rounded-2xl p-2 outline-0 border border-gray-500"
        rows="6"
        [value]="transcript()"
        readonly
      ></textarea>
      @if(audioUrl()) {
        <div class="py-4">
          <audio [src]="audioUrl()" controls></audio>
        </div>
      }
    } @else if (type === 'detection') {
      <div class="camera-wrapper md:mx-auto z-0">
        <video #video autoplay playsinline class="md:mx-auto"></video>
        <canvas #canvas class="md:mx-auto"></canvas>
      </div>
      <div class="z-100 w-full flex justify-center">
        <div>
          <!-- <p>Debug: {{ eyeResult() }}</p>
          <p>Debug: {{ device() }}</p> -->
          @defer (on timer(500ms)) {
            @if (!passed()) {
              <h2 class="text-orange-400">mohon kedipkan mata 2x</h2>
            } @else {
              <h2 class="text-green-400">Validasi berhasil</h2>
            }
          }
        </div>
      </div>
      
    }

    @if (type === 'text' || type === 'document') {
      <div class="py-1">
        <button (click)="onSpeak(type)" [disabled]="isPlay()" class="{{ isPlay() ? 'bg-gray-400' : 'bg-blue-400'}} text-white p-2 rounded-sm cursor-pointer">Speak</button>
        <button (click)="onStop()" [disabled]="!isPlay()" class="{{ isPlay() ? 'bg-red-400' : 'bg-gray-400'}} text-white p-2 ml-4 rounded-sm cursor-pointer">Stop</button>
      </div>
    } @else if (type === 'speech') {
      <div class="py-1">
        <button (click)="onSpeak(type)" [disabled]="isPlay()" class="{{ isPlay() ? 'bg-gray-400' : 'bg-blue-400'}} text-white p-2 rounded-sm cursor-pointer">Speak</button>
        <button (click)="onStop()" [disabled]="!isComplete()" class="{{ isComplete() ? 'bg-green-400' : 'bg-gray-400'}} text-white p-2 ml-4 rounded-sm cursor-pointer">Complete</button>
      </div>
    } @else if (type === 'record') {
      <div class="py-1 flex gap-2">
        <button (click)="startRecording()" [disabled]="isPlay()" class="{{ isPlay() ? 'bg-gray-400' : 'bg-blue-400'}} text-white p-2 rounded-sm cursor-pointer">Start</button>
        
        <button
          (click)="onPauseRecording()"
          [disabled]="!isRecording() || isPaused()"
          class="{{ !isRecording() || isPaused() ? 'bg-gray-400' : 'bg-red-400' }} text-white p-2 rounded-sm cursor-pointer"
        >
          Pause
        </button>

        <button
          (click)="onResumeRecording()"
          [disabled]="!isPaused()"
          class="{{ !isPaused() ? 'bg-gray-400' : 'bg-yellow-400' }} text-white p-2 rounded-sm cursor-pointer"
        >
          Resume
        </button>
        
        <button
          (click)="stopRecording()"
          [disabled]="!isRecording()"
          class="{{ !isRecording() ? 'bg-gray-400' : 'bg-green-400' }} text-white p-2 rounded-sm cursor-pointer"
        >
          Complete
        </button>
      </div>
    }
  </div>
</main>

<router-outlet />
