/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

html {
    margin: 0;
    padding: 0;
}

.camera-wrapper {
  position: relative;
  width: 640px;
  height: 480px;
  /* max-width: 720px; */
  /* margin: auto; */
}

.camera-wrapper video,
.camera-wrapper canvas {
  position: absolute;
  inset: 0;
  width: 640px;
  height: 480px;
  /* object-fit: cover;  */
}

.debug-panel {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #111;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 9999;
}

.ok {
  color: #4caf50;
  font-weight: bold;
}

.bad {
  color: #ff4d4f;
  font-weight: bold;
}


@media screen and (max-width: 736px) {
  /* CSS rules to apply when the screen width is 600px or less */
  .camera-wrapper {
        position: relative;
        width: 100%;
        height: 480px;
        margin: auto;
    }

    .camera-wrapper video,
    .camera-wrapper canvas {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 480px;
    }
}

video {
  transform: scaleX(-1);
}

.camera-wrapper canvas {
  pointer-events: none;
}

h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
}

input[type=file] {
    width: auto;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
    margin: 1rem 0;
}

.btn-todo {
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    background: #3b82f6;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn-back {
    margin: 0.5rem 0;
    background-color: orange;
}

.btn-disabled {
    background-color: grey;
    cursor: default;
}

.btn-delete {
    height: 100%;
    border: none;
    color: red;
    background-color: white;
    padding: 0;
}

.form-container {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.main {
    width: 100%;
   
    display: flex;
    justify-content: center;
}

.content {
    padding: 1rem;
    width: 100%;
    max-width: 720px;
}

.todo-list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-task-container {
    padding: 1rem 0;
}

.item-task {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.item-task h3 {
    margin: 0.5rem;
}

.txt-line {
    text-decoration: line-through;
}

.todo-item {
    padding: 12px 16px;
    border-radius: 16px;
    cursor: pointer;

    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
}

.todo-item:hover {
    background-color: blue;
    color: white;
}

.todo-item h3 {
    font-size: 1rem;
}

.file-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem 0;
}

.file-btn {
  background: #3b82f6;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.file-btn:hover {
  background: #2563eb;
}

.file-name {
  font-size: 14px;
  color: #555;
}

.preview-container {
  position: relative;
  display: inline-block;
}

img {
  max-width: 500px;
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
